/* Estilos del login */
.login-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 500px; /* Aumentar el ancho */
  text-align: center;
}

.login-container h1 {
  color: #8B1D1B;
  font-size: 36px; /* Aumentar tamaño del título */
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px; /* Más espacio entre campos */
  text-align: left;
}

.input-group label {
  font-size: 16px; /* Texto más grande */
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 12px; /* Más padding */
  margin-top: 8px; /* Más espacio entre etiqueta y campo */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; /* Texto más grande en los campos */
}

button {
  background-color: #8B1D1B;
  color: white;
  padding: 12px; /* Botón más alto */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 18px; /* Texto del botón más grande */
}

button:hover {
  background-color: #a12a28;
}

p a {
  font-size: 14px;
  color: #8B1D1B;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
